---
import Intro from '../components/Intro.astro';
import NavBar from './NavBar.astro';
import CardProjects from '../components/CardProjects.astro';
import Conteiners from '../components/Conteiners.astro';
import Enlaces from '../components/Enlaces.astro';
import Experiencia from '../components/Experiencia.astro';
import Principal from '../components/Principal.astro';
import Title from '../components/Title.astro';
import {  dataRS , type IDataRS} from '../helpers/Data';
import { dataProjects, type IProject } from '../helpers/ProjectsData';



interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>


	<body>

		<NavBar/>

	
			<main >
				<Conteiners id="" class="pb-10 pt-10" _style="">
					<Intro/>
				</Conteiners>
		
				<Conteiners id="principal" class="pb-10 pt-10" _style="">
					<Principal/>
				</Conteiners>
				
		
				<Conteiners id="enlaces" class="pb-10 pt-10" _style="">
					<ul class="w-full gap-x-4 py-10 p-1 flex justify-normal shadow-neutral-800"
				>
					{
						dataRS.map((r): IDataRS =><Fragment><Enlaces name={r.name} link={r.link}/></Fragment>)
					}
				</ul>
		
		
		
				</Conteiners>
				<Conteiners id="experiencia" class="pb-10 pt-10" _style="">
					<Title title="Experiencia Laboral" />
		
					<ul class="w-full gap-x-4 py-10 p-1 flex justify-normal shadow-neutral-800"
				>
				<Experiencia/>
		
				</Conteiners>
				
				
		
				<Conteiners id="proyectos" class="pb-10 pt-10 animate-fade-up" _style="">
					<Title title="Proyectos" />
					<ul
					class="grid gap-4 shadow-neutral-800"
				  >
					 {
					  dataProjects.map(
						(r): IProject => (
						  <CardProjects
							title={r.title}
							img={r.img}
							href={r.url}
							descriptions={r.description}
							active={r.active}
						  />
						)
					  )
					} 
				  </ul>
				</Conteiners>
		
			</main>
	
	</body>
</html>


<style>
main {
    margin: auto;
    padding: 1rem;
    width: 800px;
    max-width: calc(100% - 2rem);
    color: white;
    font-size: 20px;
    line-height: 1.6;
}


html {
    font-family: system-ui, sans-serif;
    background: #13151a;
}

</style>